$break-small: 425px;
$break-medium: 768px;
$break-large: 1024px;
$break-xlarge: 1440px;

form.dynamic-container {
  display: flex;
  flex-direction: column;
  div.dynamic-controls {
    padding: 5px;
    border-bottom: 1px solid #e9e8e8;
    display: flex;
    mat-label.label {
      flex: 60vw;
      align-self: center;
      margin-left: 20px;
    }
    mat-slide-toggle.slide-toggle {
      flex: 40vw;
      align-self: center;
    }
  }
}
// @media screen and (max-width: $break-xlarge) {
//   .dynamic-controls {
//     display: flex;
//     flex-direction: row;
//   }
// }
