.main-container {
  display: flex;
  height: calc(100vh - 14vh);
  flex-direction: row;

  .left-container {
    flex: 15vw;
    height: calc(100vh - 14vh);
    overflow-y: auto;
    background: #fafafa;
  }

  .right-container {
    flex: 85vw;
    height: calc(100vh - 14vh);
    overflow-y: auto;
  }
}
