<app-page-info-bar [displayObj]= "displayObj"></app-page-info-bar>
<mat-card style="margin:20px;">
  <mat-card-title-group>
    <mat-card-subtitle>**Customer selection is required for the subscription of the customer.</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label class="label">Select Customer</mat-label>
        <input type="text" placeholder="Select Customer" matInput [formControl]="nameControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<div class="subscription-container">
  <mat-card style="margin:20px;" (click)="selectPlan($event)" *ngFor="let plan of plans; let i=index" class="sub-card" id="plan_{{i}}">
    <mat-card-title-group>
      <mat-toolbar class="mat-elevation-z1">
        <p matLine> <mat-checkbox >{{plan.name}}</mat-checkbox></p>
      </mat-toolbar>
    </mat-card-title-group>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

</div>
